.notfound_wrapper{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.notfound{
    width: 720px;
    padding: 20px;
    display: flex;
    position: absolute;
    top: 30%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    animation: 0.5s 1.4s forwards;
}

.notfound_icon{
    display: flex;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    align-items: center;
    margin-right: 10px;
    
}

.notfound_text{
    color: #ffffff;
    font-size: 17px;
    margin: 10px;
}