.current_weather{
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 0px 10px;
    
}

.weather-icon{
    font-size: 100px;
}

.temperature_wrapper {
    margin-left: 30px;
}
.temperature_wrapper > h4{
    margin: 0px;
    font-weight: 800;
}

.temperature_wrapper > .small_label{
    font-size: 28px;
    display: block;
    font-weight: 400;
}

@media screen and (max-width: 576px) {   
    .current_weather{
        display: flex;
        align-items: center;
        font-size: 50px;
        color: #ffffff; 
    }
} 

@media screen and (min-width: 577px) {   
    .current_weather{
        display: flex;
        align-items: center;
        font-size: 50px;
        color: #ffffff; 
        width: 30%;
    }
} 


@media screen and (min-width: 767px) {   
    .temperature_wrapper > h4{
        font-size: 42px;
        font-weight: 800;
    }
    
    .temperature_wrapper > .small_label{
        font-size: 28px;
    }
}

@media screen and (min-width: 993px) {   
    .temperature_wrapper > h4{
        font-size: 44px;
        font-weight: 800;
    }
    
    .temperature_wrapper > .small_label{
        font-size: 29px;
    }
}

@media screen and (min-width: 1201px) {   
    .temperature_wrapper > h4{
        font-size: 56px;
        font-weight: 800;
    }
    
    .temperature_wrapper > .small_label{
        font-size: 38px;
    }
}

@media screen and (min-width: 1401px) {   
    .temperature_wrapper > h4{
        font-size: 70px;
        font-weight: 800;
    }
    
    .temperature_wrapper > .small_label{
        font-size: 42px;
    }
}